* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {}

.book-container {
    display: grid;
    grid-template-columns: 1fr;
}

.book {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid black;
}

.book:first-child {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.book-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.book-title {}

.book-author {}

.book-page-count {}

.book-read-status {}

.book-controls {
    display: grid;
    justify-content: center;
    align-items: center;
}

.add-book {
    position: fixed;
    bottom: 50%;
    right: 0;
}

#open-modal {
    color: white;
    width: 160px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 0.5rem;
}

#open-modal:hover {
    cursor: pointer;
}